examples/simpleui.json
[{"id":"13e148b5775ff642","type":"tab","label":"Simple UI","disabled":false,"info":""},{"id":"3e65f506e1e7c035","type":"inject","z":"13e148b5775ff642","name":"","props":[{"p":"url","v":"https://corrently.de/","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":100,"wires":[["db81f3ca71dd47f9"]]},{"id":"a4f0babf1f3a282f","type":"ui_iframe","z":"13e148b5775ff642","group":"ebd47fff.9b846","name":"","order":2,"width":"6","height":"12","url":"https://corrently.de/service/quittung.html","origin":"*","scale":"80","x":550,"y":100,"wires":[[]]},{"id":"db81f3ca71dd47f9","type":"kebap30-quittung","z":"13e148b5775ff642","name":"","ip":"192.168.192.24","x":350,"y":120,"wires":[["a4f0babf1f3a282f","4df02cd3b1d659fd"]]},{"id":"4df02cd3b1d659fd","type":"ui_template","z":"13e148b5775ff642","group":"ebd47fff.9b846","name":"Link to Preperation","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n  <p><a href=\"{{msg.payload.url}}\" target=\"_blank\">Open in new Window</a></p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":160,"wires":[[]]},{"id":"5ba689948602221d","type":"ui_button","z":"13e148b5775ff642","name":"","group":"ebd47fff.9b846","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":160,"wires":[["db81f3ca71dd47f9"]]},{"id":"ebd47fff.9b846","type":"ui_group","name":"Meine Wallbox","tab":"b3ad201a.4ebdb","order":1,"disp":true,"width":"6","collapse":true},{"id":"b3ad201a.4ebdb","type":"ui_tab","name":"Stromquittung","icon":"fa-eur","order":1,"disabled":false,"hidden":false}]